/* General */
:root{
    --color-general: #E6E6E6;
    --color-general-2: #919191;
    --color-general-3: #007562;
    --color-general-4: #F57224;
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
/* Main */
main{
    margin-top:105px;
    padding-bottom: 20px;
    background-color:var(--color-general);
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0;
    background-color:white;
}
.title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
/* List Products */
.list-products{
    flex-basis: 65%;
    margin: 10px 0 10px 20px;
    min-height: 300px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    /* background-color:var(--color-general); */
}
.product-item {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-general);
}
.product-title{ 
    margin: auto 0;
    width: 40%;
    font-weight: 400;
}
.product-price{
    width: 20%;
    margin: auto 0;
    color: #F57224;
    font-size: 18px;
    font-weight: 400;
}
.product-quality{
    width: 20%;
    margin: auto 0;
}

.btnQuality{
    background-color:var(--color-general);
    border-radius: 20px;
    font-size: 20px;
    border: none;
}
.btnQuality:hover{
    background-color: var(--color-general-2);
    color:white;
    border: none;
    transition: background-color 0.5s;
}
.btnDelete{

    padding-left: 5px ;
    border-left: 1px solid var(--color-general);
}
.btnDelete:hover{
    background-color: rgb(252, 76, 76);
    transition: background-color 0.5s ;
}
.fa-trash{
    margin: 30px 0;
    font-size: 20px;
}
/* Pay */
.pay{
    flex-basis: 30%;
    margin: 10px 20px 10px 0;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid var(--color-general-2);
}
.btnApply{
    width: 100%;
    background-color: var(--color-general-3);
    color:white;
}
.btnApply:hover{
    opacity: 0.9;
}
.btnPay{
    margin: 10px auto;
    width: 100%;
    background-color: var(--color-general-4);
    color:white;
    opacity: 0.9;
}
.btnPay:hover{
    opacity: 1;
}

#yesLogin {
    font-weight: bold;
    display: none;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .product-title{
        font-size: 14px;
    }
    .product-price{
        font-size: 14px;
    }
    .product-quality span{
        font-size: 12px;
    }
    .address-text{
        font-size: 12px;
    }
}

@media screen and (max-width: 414px) {
    span.title{
        font-size: 18px;
    }
    .product-img{
        flex-basis: 20% !important;
    }
    .product-title{
        flex-basis: 35% !important;
        font-size: 14px;
    }
    .product-price{
        flex-basis: 20% !important;
        font-size: 12px;
    }
    .product-quality{
        flex-basis: 17% !important;
        padding: 0 5px;
        width: 60px;
        font-size: 12px;
    }
    .address-text{
        font-size: 12px;
    }
    .cart-content{
        flex-flow: column !important;
    }
    .list-products{
        min-height: fit-content;
        margin: 0px;
    }
    .address-text{
        font-size: 14px;
    }
    .pay{
        margin-right: 0px;
    }
}