
body, html {
  height: 100%;
  background-color: #f3f3e9;
}
.bg {
  /* The image used */
  background-image: url("/cabkee/images/background0.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
}
.navbar {
  min-height: 80px;
}
.nav-link{
  color: rgb(51, 21, 21);

}

.navbar-brand {
  padding: 0 15px 0px 25px;
  height: 80px;
  line-height: 80px;
  padding-top: 0cm !important;
}
span.navbar-toggler-icon{
  color:#191a1b;
}
.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
  }
}
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}



.top-nav-collapse {
  background-color: #ece9e6  !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent  !important;

}
.nav-item{
  font-size: 18px;
  font-family: 'quicksand' !important;
  font-weight: 400;
  padding-right: 0.6cm;
  color:black;
  text-shadow: 0.5px 0.5px 0.5px #c2c1c1;
}

.intro{
  padding-top: 5px;
  background-image: url("/cabkee/images/homepage/approaches-bg.svg");
}
img#imageintro1{
  width: 110%;
  padding: 10px;
}
img#imageintro2{
  width: 100%;
  padding: 10px;
  text-shadow:2px tomato;
}
img#imageintro3{
  width: 150%;
  padding: 10px;
}
div.slogan{
  width:100%;
  font-size:70px;
  font-weight: 500;
  color: rgb(17, 17, 56);
  font-family: 'quicksand';
  padding-left: 3cm;
}




