:root{
    --color-general: #E6E6E6;
}


*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.navbar
{
    background-color: white !important;
    max-width: 1200px;
    margin: 0 auto;
}   
.header__first{
    /* margin-bottom: 62px; */
}
.in-search{
    width: 50% !important;
    padding:0;
    padding-left: 5px;
    font-size: 14px !important;
    line-height: 1;
}
.header__first .form-inline{
    flex: 1;
}
.login_icon{
    width: 10px;
}
.login_content{
    color: black;
    font-weight: bold;

}

.header__second{
    background-color: white !important;
    /* margin-top: 62px; */
    border-top: 1px solid var(--color-general);
    border-bottom: 1px solid var(--color-general);
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu-list{
    padding: 0 10px;
    display: flex;
    justify-content:space-around;
}

.header-menu-list .nav-item{ 
    flex-basis: 13%;
    font-size: 14px;

}
.header-menu-list .nav-link{ 
    color:#666666;
    font-weight: 500;
}
.header-menu-list .nav-link:hover{ 
    color:#0f7c39;
    font-weight: bolder;
    border-bottom: 2px solid #0f7c39;
}

main{
    margin-top:105px;
    margin-bottom: 20px;
    background-color:white;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0;
}
.main-nav{
    height: 290px;

}
.main-nav_menu-header{
    padding: 10px 15px;
    font-size:17px;
    color:#333333;
    border-bottom: 1px solid black;
    border-bottom-color: var(--color-general);
}
.main-nav_menu-list{
    padding: 0 15px;
}
.main-nav_menu-list .nav-item{ 
    flex-basis: 13%;
    font-size: 14px;

}
.main-nav_menu-list .nav-link{ 
    color:#666666;
    padding: 3px 0;
    font-weight: 400;
}
.main-nav_menu-list .nav-link:hover{ 
    text-decoration: underline;
}

.main-nav_menu-img{
    width: 100%;
    height: 250px;
}
.department{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.department-link{
    flex-basis: 32%;
    display: flex;
    margin-bottom: 15px;
    flex-flow: column nowrap;
    border-radius: 8px;
    background-color: #EEEEEE;
    border:none;
    box-shadow: 0 0 5px 5px #cacaca;
}
.department-card{
    flex: 1;
    position: relative;
}
.department-card_img{
    width: 100%;
    height:100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.department-card_name{
    color: #333333;
    font-weight: 500;
    position: absolute;
    top: 15px;
    left: 15px;
}
.topic-text-list{
    list-style: none;
}
.topic-text-list_item{
}
.topic-text-list_item-link{
    font-size: 14px;
    color: #333333;
    padding-left: 5px;
}
.department-card_img:hover{
    text-decoration: underline;
}


footer{
    background-color:var(--color-general);
}
