:root{
    --color-general: #E6E6E6;
    --color-general-2: #919191;
    --color-general-3: #007562;
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
/* Header */
.navbar
{
    background-color: white !important;
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-flow: row;
} 
.form-inline{
    flex:1;
}
.in-search{
    width: 60% ;
    padding:0;
    padding-left: 5px;
    font-size: 14px !important;
    line-height: 1;
}
.header__first .form-inline{
    width: fit-content;
}
.login_icon{
    width: 10px;
}
.login_content{
    color: black;
    font-weight: bold;

}

.header__second{
    background-color: white !important;
    /* margin-top: 62px; */
    border-top: 1px solid var(--color-general);
    border-bottom: 1px solid var(--color-general);
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu-list{
    padding: 0 10px;
    display: flex;
    justify-content:space-around;
}

.header-menu-list .nav-item{ 
    flex-basis: 13%;
    font-size: 14px;

}
.header-menu-list .nav-link{ 
    color:#666666;
    font-weight: 500;
}
.header-menu-list .nav-link:hover{ 
    color:#0f7c39;
    font-weight: bolder;
    border-bottom: 2px solid #0f7c39;
}

.dropdown-item:hover{
    color:#0f7c39;
}
.shopping-cart{ 
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    padding: 0;
}
.cart-link{
    padding: 15px 10px;
    height: 60px;
    display: block;
}
.cart-icon{
    font-size: 30px;
    text-align: left;
    color: #333333;
}
.cart-count{
    background: #007562;
    position: absolute;
    top: 15px;
    left: 25px;
    background: #aaa;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

main{
    margin-top:105px;
    margin-bottom: 20px;
    background-color:white;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0;
}
/* Footer */
footer{
    background-color:var(--color-general);
}

@media screen and (max-width: 1024) {
    .header-menu-list .nav-item{ 
        flex:1;
        font-size: 14px;
    }
    #navbarSupportedContent{
        display:block;
    }
}
@media screen and (max-width: 768px) {
    .header-menu-list .nav-item{ 
        flex:1;
        font-size: 14px;
    }
    .in-search{
        width: 100% ;
    }
    #navbarSupportedContent{
        display:block;
    }
}
@media screen and (max-width: 414px) {
    .header__first{
        width: 100% !important;
    }
    .navbar{
        width: 100% !important;
        margin:0;
    }
    a.navbar-brand{
        padding: 0 !important;
    }
    a.navbar-brand span img{
        width: 72px;
        height: 12px !important;
        padding: 0;
    }
    main{
        margin: 67px 10px 10px 20px;
    }
    button.navbar-toggler{
        padding: 0;
    }
    .shopping-cart{
        margin: 0 5px;
    }
    .main-nav{
        height:fit-content;
        margin: 10px 0;
    }
    #navbarSupportedContent{
        display:none;
    }
    .main-nav_menu{
        display:none;
    }
    .login{
        width: 50px;
        display:flex;
        flex-flow: column;
    }
    .login_icon img{
        width: 20px !important;
        height: 20px;
    }
    .login_content{
        font-size:12px ;
    }
    .in-search{
        width: 100% ;
    }
    .in-search input{
        font-size:12px;
    }
    .header__second{
        display:none;
    }
}