/* General */
:root{
    --color-general: #E6E6E6;
    --color-general-2: #919191;
    --color-general-3: #007562;
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
/* Header */
.navbar
{
    background-color: white !important;
    max-width: 1200px;
    margin: 0 auto;
}   
.header__first{
    /* margin-bottom: 62px; */
}
.in-search{
    width: 50% !important;
    padding:0;
    padding-left: 5px;
    font-size: 14px !important;
    line-height: 1;
}
.header__first .form-inline{
    flex: 1;
}
.login_icon{
    width: 10px;
}
.login_content{
    color: black;
    font-weight: bold;

}

.header__second{
    background-color: white !important;
    /* margin-top: 62px; */
    border-top: 1px solid var(--color-general);
    border-bottom: 1px solid var(--color-general);
    
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu-list{
    padding: 0 10px;
    display: flex;
    justify-content:space-around;
}

.header-menu-list .nav-item{ 
    flex-basis: 13%;
    font-size: 14px;

}
.header-menu-list .nav-link{ 
    color:#666666;
    font-weight: 500;
}
.header-menu-list .nav-link:hover{ 
    color:#0f7c39;
    font-weight: bolder;
    border-bottom: 2px solid #0f7c39;
}
/* Main */
main{
    margin-top:105px;
    margin-bottom: 20px;
    background-color:white;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0;
}
.result-set-header_filter{
    padding: 10px 0;
    margin: 0;
    height:40px;
}
.brower-list{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}
.browwer_item-link{
    color: black;
    font-weight: 500;
}
.browwer_item-link:hover{
    color: black;
    font-weight: 500;
}
.brower-list_item::after{
    content: ">";
    padding:  0 5px;
}
.last-item{
    color: var(--color-general-2);
    font-weight: 500;
}
.last-item::after{
    content: "";
}
.item-view{
    display: flex;
    flex-flow: row nowrap;
}
.item-img{
    flex-basis: 72%;
}
.list-img{
    list-style-type: none;
}
.list-img .item{
    margin:5px 10px 5px 0;
    width: 80px;
    height: 80px;
}
.list-img .item_selected{
    border: 1px solid black;
}
.list-img .item:hover{
    padding: 1px;
    border: 1px solid var(--color-general);
}
.products-img{
    height: 592px;
    width: 592px;
}
span.review-text{
    color:#007562;
}
.item-information{
    flex-basis: 38%;
    display:flex;
    flex-flow: column nowrap;

}
.item-card_price{
    font-size: 30px;
    margin: 10px 0;
    color: #F57224;
    font-weight: bold;

}
.item-card_price>.price-old{
    color: #6b6b6b;
    font-size: 12px;
    font-weight: normal;
    text-decoration: line-through;
}
.btnQuality{
    background-color: var(--color-general);
    font-size: 20px;
    border: none;
}
.btnQuality:hover{
    background-color: var(--color-general-2);
    color:white;
    border: none;
}
.btnAdd{
    background-color: var(--color-general-3);
    color:white;
}
.title{
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 5px 0;
    margin: 0 0 10px 0;
    width: 28%;
    border-bottom: 3px solid var(--color-general-3);
}
/* Mô tả sản phẩm */
.item-description{
    flex-basis: 48%;
}

/* Thông số sản phẩm */
.item-specific{
    flex-basis: 48%;
}
/* Footer */
footer{
    background-color:var(--color-general);
}