/* General */
:root{
    --color-general: #E6E6E6;
    --color-general-2: #919191;
    --color-general-3: #5b5b5b;
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
/* Main */
main{
    margin-top:105px;
    margin-bottom: 20px;
    background-color:var(--color-general);
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0;
    background-color:white;
}
/* Top Nav */

.result-set-header_filter{
    padding-top: 20px;
}
.brower-list{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;    
}
.browwer_item-link{
    color: black;
    font-weight: 500;
}
.browwer_item-link:hover{
    color: black;
    font-weight: 500;
}
.brower-list_item::after{
    content: ">";
    padding:  0 5px;
    
}
.last-item{
    color: var(--color-general-2);
    font-weight: 500;
}
.last-item::after{
    content: "";
}
.result-set-header{
    border-bottom: 1px solid var(--color-general);
    padding-bottom: 10px;
    padding-left: 10px;

}
.result-set-header_title{
    font-size: 28px;
}
/* Department */
.department-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.department-card{
    flex-basis: 30% ;
    margin: 0 1.66%;
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.department-card_img{
    width: 100%;
}
.department-card_link:hover{
    text-decoration: none;
    border: 1px solid var(--color-general);
    box-shadow: 0px 5px 5px var(--color-general);
}
.department-card_link-name{
    height: 40px;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
}
.department-card_link-name:hover{
    text-decoration: underline;
}
.department-card_price{
    margin: 10px 0;
    color: black;
    font-weight: bold;

}
.department-card_price>.price-old{
    font-size: 12px;
    font-weight: normal;
    text-decoration: line-through;
}


/* Pagination */
.page-link {
    color: black;
    font-weight: 500;
}
.page-item.active .page-link{
    background-color: var(--color-general-3);
    border-color: var(--color-general-3);
}

@media screen and (max-width: 768px){
    .department-card_link-name{
        height:fit-content;
    }
    .department-title_text{
        font-size: 20px;
    }
}

@media screen and (max-width: 414px){
    .title{
        font-size: 20px !important;
    }
    .topic-item{
        flex-flow: column !important;
    }
    .department-title img{
        display: none;
    }
    .department-title{
        max-width: 100% !important;
        display: flex !important;
        flex-flow: row nowrap !important;
        justify-content: space-between !important;
    }
    .department-title_text,
    .department-title_link{
        position: relative;
        top: 0;
        left: 0;
        padding: 5px;
        margin:auto 0;
    }
    .department-list{
        flex-flow: row wrap !important;
    }
    .department-card{
        flex-basis: 46%;
    }
}