/* General */
:root{
    --color-general: #E6E6E6;
    --color-general-2: #919191;
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
/* Main */
main{
    margin-top:105px;
    margin-bottom: 20px;
    background-color:white;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0;
}
.topic-item {
    padding-bottom: 15px;
}
/* Top Nav */

.result-set-header_filter{
    padding-top: 20px;
}
.brower-list{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.browwer_item-link{
    color: black;
    font-weight: 500;
}
.browwer_item-link:hover{
    color: black;
    font-weight: 500;
}
.brower-list_item::after{
    content: ">";
    padding:  0 5px;
    
}
.last-item{
    color: var(--color-general-2);
    font-weight: 500;
}
.last-item::after{
    content: "";
}
.result-set-header_title{
    font-size: 28px;
}
/* Department */
.department-list{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    margin: auto;
}
.department-title{
    background-color: var(--color-general);
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.department-title_text{
    font-size: 26px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    left: 15px;
}
.department-title_link{
    position: absolute;
    top: 15px;
    right: 15px;
}
.department-card{
    flex-basis: 24% ;
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.department-card_img{
    width: 100%;
}
.department-card_link:hover{
    text-decoration: none;
    border: 1px solid var(--color-general);
    box-shadow: 0px 5px 5px var(--color-general);
}
.department-card_link-name{
    padding-left:5px;
    height: 40px;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
    
}
.department-card_link-name:hover{
    text-decoration: underline;
}
.department-card_price{
    padding-left: 5px;
    margin: 5px 0;
    color:black;
    font-weight: bold;

}