/* General */
:root{
    --color-general: #E6E6E6;
    --color-general-2: #919191;
    --color-general-3: #007562;
}

*{
    margin: 0;
    padding: 0;
}

#success {
    width: 280px;
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    font-weight: bold;
    color: black;
    position: fixed;
    display: none;
    top: 15px;
    right: 15px;
    z-index: 1000;
    background-color: rgba(168,255,212,0.8);
}

body{
    display: flex;
    flex-direction: column;
}

/* Main */
main{
    margin-top:105px;
    margin-bottom: 20px;
    background-color:white;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0;
}
.result-set-header_filter{
    padding: 10px 0;
    margin: 0;
    height:40px;
}
.brower-list{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}
.browwer_item-link{
    color: black;
    font-weight: 500;
}
.browwer_item-link:hover{
    color: black;
    font-weight: 500;
}
.brower-list_item::after{
    content: ">";
    padding:  0 5px;
}
.last-item{
    color: var(--color-general-2);
    font-weight: 500;
}
.last-item::after{
    content: "";
}
.item-view{
    display: flex;
    flex-flow: row nowrap;
}
.item-img{
    flex-basis: 72%;
}
.list-img{
    list-style-type: none;
}
.list-img .item{
    margin:5px 10px 5px 0;
    width: 80px;
    height: 80px;
}
.list-img .item_selected{
    border: 1px solid black;
}
.list-img .item:hover{
    padding: 1px;
    border: 1px solid var(--color-general);
}
.products-img{
    height: 592px;
    width: 592px;
}
span.review-text{
    color:#007562;
}
.item-information{
    flex-basis: 38%;
    display:flex;
    flex-flow: column nowrap;

}
.item-card_price{
    font-size: 30px;
    margin: 10px 0;
    color: #F57224;
    font-weight: bold;

}
.item-card_price>.price-old{
    color: #6b6b6b;
    font-size: 12px;
    font-weight: normal;
    text-decoration: line-through;
}
.btnQuality{
    background-color: var(--color-general);
    font-size: 20px;
    border: none;
}
.btnQuality:hover{
    background-color: var(--color-general-2);
    color:white;
    border: none;
}
.btnAdd{
    background-color: var(--color-general-3);
    color:white;
}
.title{
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 5px 0;
    margin: 0 0 10px 0;
    width: 28%;
    border-bottom: 3px solid var(--color-general-3);
}
/* Mô tả sản phẩm */
.item-description{
    flex-basis: 48%;
}
table td.col-3{
    font-weight: 500;
    background-color: var(--color-general)
}

/* Thông số sản phẩm */
.item-specific{
    flex-basis: 48%;
}

.department-card{
    flex-basis: 24% ;
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.department-card_img{
    width: 100%;
}
.department-card_link:hover{
    text-decoration: none;
    border: 1px solid var(--color-general);
    box-shadow: 0px 5px 5px var(--color-general);
}
.department-card_link-name{
    padding-left:5px;
    height: 40px;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
    
}
.department-card_link-name:hover{
    text-decoration: underline;
}
.department-card_price{
    padding-left: 5px;
    margin: 5px 0;
    color:black;
    font-weight: bold;

}